footer.footer
  doctype html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='generator' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='shortcut icon' href='assets/images/logo5.png' type='image/x-icon')
    meta(name='description' content='')
    title recipecataloug
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-grid.min.css')
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap-reboot.min.css')
    link(rel='stylesheet' href='assets/animatecss/animate.css')
    link(rel='stylesheet' href='assets/socicon/css/styles.css')
    link(rel='stylesheet' href='assets/theme/css/style.css')
    link(rel='preload' href='https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap' as='style' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap')
    link(rel='preload' as='style' href='assets/mobirise/css/mbr-additional.css?v=D1swa7')
    link(rel='stylesheet' href='assets/mobirise/css/mbr-additional.css?v=D1swa7' type='text/css')
  section#footer03-2o.footer3.cid-u6JpC03elG(once='footers' style='padding-top: 30px; padding-bottom: 30px;')
    .container
      .row
        .row-links
          ul.header-menu
            li.header-menu-item.mbr-fonts-style.display-5
              a.text-primary(href='#') Shop
            li.header-menu-item.mbr-fonts-style.display-5
              a.text-primary(href='#') Collections
            li.header-menu-item.mbr-fonts-style.display-5
              a.text-primary(href='#') About
            li.header-menu-item.mbr-fonts-style.display-5
              a.text-primary(href='#') Press
        .col-12.mt-4
          .social-row
            .soc-item
              a(href='' target='_blank')
                span.mbr-iconfont.socicon.socicon-facebook.display-7
            .soc-item
              a(href='' target='_blank')
                span.mbr-iconfont.socicon-twitter.socicon
            .soc-item
              a(href='' target='_blank')
                span.mbr-iconfont.socicon.socicon-instagram.socicon
            .soc-item
              a(href='' target='_blank')
                span.mbr-iconfont.socicon.socicon-linkedin
            .soc-item
              a(href='' target='_blank')
                span.mbr-iconfont.socicon.socicon-twitch
        .col-12.mt-3 
          p.mbr-fonts-style.copyright.display-7 &copy; CEO Pruthvij Desai
  script(src='assets/bootstrap/js/bootstrap.bundle.min.js')
  script(src='assets/smoothscroll/smooth-scroll.js')
  script(src='assets/ytplayer/index.js')
  script(src='assets/theme/js/script.js')
  input(name='animation' type='hidden')
