
extends base

block head
  style.
    /* Custom CSS */
    form {
      max-width: 400px;
      margin: 100px auto 0; /* Updated margin */
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f8f9fa;
          margin-bottom: 100px
    }

    @media (max-width: 768px) {
      form {
        margin-top: 150px; /* Adjusted margin for smaller screens */
      }
    }

block content
  form
    div.mb-3
      label(for='exampleInputEmail1' class='form-label') Email address
      input(type='email' class='form-control' id='exampleInputEmail1' aria-describedby='emailHelp')
      div#emailHelp.form-text We'll never share your email with anyone else.
    div.mb-3
      label(for='exampleInputPassword1' class='form-label') Password
      input(type='password' class='form-control' id='exampleInputPassword1')
    button.btn.btn-primary(type='submit') Login
